<div class="main_chat_hero">
  
  <div class="main_chat_header">
    <div class="main_chat_roomtitle">hogefuga</div>
    <div class="main_chat_roomend">
      <div class="main_chat_roomend_margin"><a href="#">チャットを終了する</a></div>
    </div>
  </div>
  
  <div class="main_chat_style">
    <div class="main_chat_one_margin">
      <div class="main_chat_onestyle">
        <div class="main_chat_name">Tom</div>
        <div class="main_chat_day">2022/3/31(Wed)12:43:30</div>
      </div>
      <div class="main_chat_text">おはよう</div>
    </div>

<div class="main_chat_one_margin">
      <div class="main_chat_onestyle">
        <div class="main_chat_name">Tom</div>
        <div class="main_chat_day">2022/3/31(Wed)12:43:30</div>
      </div>
      <div class="main_chat_text">おはよう</div>
    </div>

  </div>
  
  <div class="main_chat_footer">
    <div class="main_chat_typing_style">
      <input placeholder="type a message" class="main_chat_typing">
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
    </div>
    <input type="submit" value="送信" class="main_chat_bottom">
  </div>

</div>