<div class="main_chat_one_margin">
  <div class="main_chat_onestyle">
    <div class="main_chat_name"><%= message.user.name %></div>
    <div class="main_chat_day"><%= message.created_at %></div>
  </div>
  <div class="main_chat_text"><%= message.content %></div>
</div>