<div class="side_bar_hero">

  <div class="side_bar_header">
    <div class="side_bar_nickname"><a href="">Tom</a></div>
    <div class="side_bar_make"><a href="">チャットを作成する</a></div>
  </div>

  <div class="side_bar_style">
    <div class="side_bar_room_style">
      <div class="side_bar_room_name"><a href="#">techroom1</a></div>
    </div>
    <div class="side_bar_room_style">
      <div class="side_bar_room_name"><a href="#">techroom1</a></div>
    </div>
  </div>

</div>