.wrapper{
  display: flex;
}


/* side_bar */
.side_bar_hero{
  width: 300px;
  height: 100vh;
}

.side_bar_header{
  width: 100%;
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
}

.side_bar_style{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}



/* main_chat */

.main_chat_hero{
  width: calc(100vw - 300px);
  height: 100vh;
}

.main_chat_header{
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
}

.main_chat_style{
  width: 100%;
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.main_chat_footer{
  width: 100%;
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}