.wrapper{
  display: flex;
}


/* side_bar */
.side_bar_hero{
  width: 300px;
  height: 100vh;
}

/* 上部 */
.side_bar_header{
  width: 100%;
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side_bar_nickname a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 16px;
}

.side_bar_make a {
  text-decoration: none;
  padding: 14px;
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
}


/* 下部 */
.side_bar_style{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 20px 20px 0;
  overflow: scroll
}

.side_bar_room_style{
  margin-bottom: 40px;
}

.side_bar_room_name a {
  text-decoration: none;
  color: white;
}



/* main_chat */
.main_chat_hero{
  width: calc(100vw - 300px);
  height: 100vh;
}


/* chat_header */
.main_chat_header{
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.main_chat_roomtitle{
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.main_chat_roomend_margin{
  margin-top: 40px;
}

.main_chat_roomend a {
  text-decoration: none;
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
}


/* chat_main */
.main_chat_style{
  width: 100%;
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.main_chat_one_margin{
  margin-bottom: 40px;
}

.main_chat_onestyle{
  display: flex;
  margin-top: 10px;
}

.main_chat_name{
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.main_chat_day{
  font-size: 12px;
  color: #999;
}

.main_chat_text{
  font-size: 14px;
  color: #434A54;
  margin-top: 10px;
}


/* cht_footer */
.main_chat_footer{
  width: 100%;
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.main_chat_typing_style{
  width: 100%;
  display: flex;
  background-color: white;
}

.main_chat_typing{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.main_chat_bottom{
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  border: none;
}